<h1>Listing todos</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Detail</th>
      <th>Estimate</th>
      <th>Start on</th>
      <th>End on</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.subject %></td>
        <td><%= todo.detail %></td>
        <td><%= todo.estimate %></td>
        <td><%= todo.start_on %></td>
        <td><%= todo.end_on %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
